$color-white: white;
$color-light: #ffffff99;
$color-black: #000;
$color-orange: #ff7b02;
$color-1: #140021;
$color-2: #38444d;
$color-3: rgb(21, 32, 43);
$color-4: #1d2a35;
$color-5: #2c2c6c;
$color-6: #4db5ff;
$color-7: #36005a;
$color-primary: #ff7b02;
$color-primary-variant: #e5a55d;

$border-1: 1px solid #2c2c6c;
$transition: all 400ms ease;
